.admin-button {
  font-family: $body-font;
  background-color: $purple-plum;
  color: $button-text;
}

.addForm {
  &__parent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
  }
  &__input {
    margin: 4px;
  }
  &__button {
    font-family: $body-font;
    background-color: $purple-plum;
    color: $button-text;
  }
}

.toggleAddProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
}
