.products {
  // padding-bottom: 2rem;

  &__items {
    width: 60vw;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  &__item {
    position: relative;
    overflow: hidden;
    text-align: center;

    img {
      width: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
    }
  }

  &__btns {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
  }

  &__btn {
    opacity: 0;
    // color: set-text-color($secondary-color);
    // @include transition-ease;
  }
}
