.products {
  padding-bottom: 2rem;

  &__items {
    width: 60vw;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }

  &__item {
    position: relative;
    overflow: hidden;
    text-align: center;

    img {
      width: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
    }
  }
}
