@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Candal&family=Yellowtail&display=swap');

$title-font: 'Yellowtail', cursive;
$body-font: 'Candal', sans-serif;
$nav-color: #83c5be;
$body-color: #006d77;
$button-text: #edf6f9;

* {
  background-color: #ffffff;
  margin: 15;
  padding: 15;
  box-sizing: border-box;
}

@mixin media-sm {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}
