@include media-md {
  .products {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include media-lg {
  .products {
    &__items {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@include media-xl {
  .products {
    &__items {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
