@import 'config';
@import 'navbar';
@import 'allproducts';
@import 'admin';
@import 'responsive';

body {
  font-family: $body-font;
}

a {
  color: $body-color;
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cartIcon {
  width: 20px;
}

#add-to-cart {
  color: $button-text;
  font-family: $body-font;
  background-color: $body-color;
}

.cart {
  &__cart-header {
    margin: 20px;
    padding: 30px;
    border: 3px solid rgb(213, 213, 213);
  }

  &__item-name {
    color: $body-color;
  }

  &__item-quantity {
    color: $body-color;
  }
}

.cartImg {
  width: 50px;
}
