@import 'config';
@import 'responsive';

body {
  font-family: 'Candal', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cartIcon {
  width: 20px;
}

#title-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

#site-title {
  font-family: 'Yellowtail', cursive;
  font-weight: 400;
}

#add-to-cart {
  color: #edf6f9;
  font-family: 'Candal', sans-serif;
  background-color: #006d77;
}

#all-products-container {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-rows: 2fr;
  grid-gap: 5rem;
}

#single-product-container {
  position: relative;
  overflow: hidden;
  text-align: center;

  img: {
    // height: 50%;
    // width: 50%;
  }
}
