@import 'config';
@import 'allproducts';
@import 'responsive';

body {
  font-family: $body-font;
}

a {
  color: #006d77;
  text-decoration: none;
}

label {
  display: block;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: #83c5be;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cartIcon {
  width: 20px;
}

#title-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-family: $title-font;
  font-weight: 400;
  font-size: xx-large;
}

#add-to-cart {
  color: #edf6f9;
  font-family: $body-font;
  background-color: #006d77;
}
