body {
  font-family: 'Candal', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#title-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

#site-title {
  font-family: 'Yellowtail', cursive;
  font-weight: 400;
}
