body {
  font-family: 'Candal', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#site-title {
  font-family: 'Yellowtail', cursive;
}
